
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Inter', sans-serif;
  background-color:  #f8fafc;
  overflow-x:hidden ;
  width: 100%;
    height: auto;

}
.container{
    width: 100%;
  padding: 0 16px;
  margin: 0 auto;

}